
#Resize {
  margin: 1rem auto;
  max-width: 1200px;
  padding: 1rem;
  #DropZone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 80px;
    border: 1px black solid;
  }
  #SampleCanvas {
    margin: 1rem 0;
    width: 250px;
    border: 1px black solid;
  }
}
