
#Header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 70px;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  background-color: aliceblue;
  #HeaderTitle {
    font-size: 1.8rem;
    font-weight: bold;
    padding: 1rem;
  }
  #OnlineOfflineDiv {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    #networkstate_image {
      position: absolute;
      top: 0;
      right: 0;
      width: 50px;
    }
  }
}
