
#Editor {
  margin: 1rem auto;
  max-width: 1200px;
  padding: 1rem;
  #DropZone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 80px;
    border: 1px black solid;
    background-color: lightgray;
    &:hover {
      color: white;
      background-color: gray;
    }
  }
  #SampleCanvas {
    margin: 5rem 0;
    width: 250px;
    border: 1px black solid;
  }
}
